<div class="row">
  <div class="col-md-4">
    <moolah-summary api="dashboardCtrl.summaryApi"></moolah-summary>
  </div>
  <div class="col-md-4">
    <moolah-todays-transactions api="dashboardCtrl.todaysTransApi"
                                after-save="dashboardCtrl.goGoGadgetReloadEverything">
    </moolah-todays-transactions>
  </div>
  <div class="col-md-4">
    <moolah-fun-money api="dashboardCtrl.funMoneyApi"
                      after-save="dashboardCtrl.reloadFunMoney"></moolah-fun-money>
  </div>
  <div class="col-md-6">
    <daily-transaction-report></daily-transaction-report>
  </div>
  <div class="col-md-6">
    <yearly-savings-report></yearly-savings-report>
  </div>
</div>
