{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 vertical-center">
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
      <div class="form-group">
        {% csrf_token %}
        {% load bootstrap_tags %}
        {{ form | as_bootstrap }}
        <input class="btn btn-success" type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock %}
