{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#moolah-nav"
            aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand"
       href="#">Moolah</a>
  </div>
</nav>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 vertical-center">
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
      <div class="form-group">
        {% csrf_token %}
        {% load bootstrap_tags %}
        {{ form | as_bootstrap }}
        <input class="btn btn-success" type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock %}
