<div class="panel panel-default">
  <div class="panel-heading" ng-if="cardCtrl.cardTitle">
    <h3 ng-bind="cardCtrl.cardTitle" class="panel-title"></h3>
    <span ng-if="cardCtrl.formToggle"
          class="pull-right clickable"
          ng-click="cardCtrl.formToggleClick()"><i class="glyphicon"
                                              ng-class="{'glyphicon-plus': cardCtrl.showAdd, 'glyphicon-minus': !cardCtrl.showAdd}"></i>
    </span>
  </div>
  <div class="panel-body">
    <ng-transclude></ng-transclude>
  </div>
</div>
