{% extends "base.html" %}
{% block body %}
{% load tracking_extras %}
<h1>Summary</h1>
<table>
  <tr>
    <td>Timestamp</td>
    <td>{{ timestamp | time }} {{ timestamp | date }}</td>
  </tr>
  <tr>
    <td>Rate per Day</td>
    <td>{{ rate | currency }}</td>
  </tr>
  <tr>
    <td>Today</td>
    <td>{{ today | currency }}</td>
  </tr>
  <tr>
    <td>Last 7 days</td>
    <td>{{ week | currnecy }}</td>
  </tr>
  <tr>
    <td>Last 30 days</td>
    <td>{{ month | currency }}</td>
  </tr>
  <tr>
    <td>Last 365 days</td>
    <td>{{ year || currency }}</td>
  </tr>
</table>
{% endblock %}
