<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default shadow-z-4">
      <div class="panel-heading">
	<h3 class="panel-title">Today's Transactions</h3>
      </div>
      <div class="panel-body">
	<div class="table-responsive">
	  <table class="table">
	    <tr>
	      <th>Description</th>
	      <th>Amount</th>
	    </tr>
	    <tr ng-repeat="obj in dashboardCtrl.todaysTransactions">
	      <td>{{ obj.description }}</td>
	      <td>{{ obj.amount | currency }}</td>
	    </tr>
	    <tr>
	      <td>
		<strong>Total</strong>
	      </td>
	      <td ng-class="{'text-success': addListCtrl.totalIsPositive, 'text-danger': !addlistCtrl.totalIsPositive}">
		{{ dashboardCtrl.todaysTransactionsTotal | currency }}
	      </td>
	    </tr>
	  </table>
	</div>
      </div>
    </div>
  </div>
</div>
