<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default shadow-z-4">
      <div class="panel-heading">
	<div class="panel-title">Add Purchase</div>
      </div>
      <div class="panel-body">
	<form novalidate>
	  <div class="form-group form-group-sm">
	    <label for="newDescription">Description</label>
	    <input ng-model="dashboardCtrl.newTransaction.description" type="text" class="form-control input-sm" id="newDescription"/>
	  </div>
	  <div class="row">
	    <div class="col-md-6">
	      <div class="form-group form-group-sm">
		<label for="newAmount">Amount ($)</label>
		<input ng-model="dashboardCtrl.newTransaction.amount" type="text" id="newAmount" class="form-control"/>
	      </div>
	    </div>
	    <div class="col-md-6">
	      <div class="form-group form-group-sm">
		<label for="newAllowance">Is Allowance Money</label>
		<input type="checkbox" ng-model="dashboardCtrl.newTransaction.allowance" id="newAllowance" class="form-control"/>
	      </div>
	    </div>
	  </div>
	</form>
	<button class="btn btn-success btn-sm" type="submit" ng-click="dashboardCtrl.submitTransaction()">Submit</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default shadow-z-4">
      <div class="panel-heading">
	<div class="panel-title">Summary</div>
      </div>
      <div class="panel-body">
	<div class="table-responsive" cg-busy="dashboardCtrl.summaryPromise">
	  <table class="table">
	    <tr>
	      <td><strong>Daily Rate</strong></td>
	      <td>{{ dashboardCtrl.summary.daily | currency }}</td>
	    </tr>
	    <tr>
	      <td><strong>Today</strong></td>
	      <td>{{ dashboardCtrl.summary.today | currency }}</td>
	    </tr>
	    <tr>
	      <td><strong>Week</strong></td>
	      <td>{{ dashboardCtrl.summary.week | currency }}</td>
	    </tr>
	    <tr>
	      <td><strong>Month</strong></td>
	      <td>{{ dashboardCtrl.summary.month | currency }}</td>
	    </tr>
	    <tr>
	      <td><strong>Year</strong></td>
	      <td>{{ dashboardCtrl.summary.year | currency }}</td>
	    </tr>
	  </table>
	</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default shadow-z-4">
      <div class="panel-heading">
	<h3 class="panel-title">Today's Transactions</h3>
      </div>
      <div class="panel-body">
	<div class="table-responsive" cg-busy="dashboardCtrl.transactionPromise">
	  <table class="table">
	    <tr>
	      <th>Description</th>
	      <th>Amount</th>
	    </tr>
	    <tr ng-repeat="obj in dashboardCtrl.todaysTransactions">
	      <td>{{ obj.description }}</td>
	      <td>{{ obj.amount | currency }}</td>
	    </tr>
	    <tr>
	      <td>
		<strong>Total</strong>
	      </td>
	      <td ng-class="{'text-success': dashboardCtrl.totalIsPositive, 'text-danger': !dashboardCtrl.totalIsPositive}">
		{{ dashboardCtrl.todaysTransactionsTotal | currency }}
	      </td>
	    </tr>
	  </table>
	</div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel shadow-z-4">
      <div class="panel-heading">
	<h3 class="panel-title">Allowance</h3>
      </div>
      <div class="panel-body">
	<div class="table-responsive" cg-busy="dashboardCtrl.allowancePromise">
	  <table class="table">
	    <tr>
	      <th>Description</th>
	      <th>Amount</th>
	    </tr>
	    <tr ng-repeat="obj in dashboardCtrl.purchases">
	      <td>{{ obj.description }}</td>
	      <td>{{ obj.amount | currency }}</td>
	    </tr>
	    <tr>
	      <td>
		<strong>Balance</strong>
	      </td>
	      <td ng-class="{'text-success': dashboardCtrl.balanceIsPositive, 'text-danger': !dashboardCtrl.balanceIsPositive}">
		{{ dashboardCtrl.purchaseBalance | currency }}
	      </td>
	    </tr>
	  </table>
	</div>
      </div>
    </div>
  </div>
</div>
