<div class="container-fluid">
  <div class="page-header">Income</div>
  <canvas id="doughnutIncome"
	class="chart chart-doughnut"
	chart-data="pieChartCtrl.income.data"
	chart-labels="pieChartCtrl.income.labels"
	cart-options="pieChartCtrl.income.options">
  </canvas>
</div>
<div class="container-fluid">
  <div class="page-header">Expense</div>
  <canvas id="doughnutExpense"
	class="chart chart-doughnut"
	chart-data="pieChartCtrl.expense.data"
	chart-labels="pieChartCtrl.expense.labels"
	cart-options="pieChartCtrl.expense.options">
  </canvas>
</div>
<div class="container-fluid">
  <div class="page-header">Total</div>
  <canvas id="doughnutTotal"
	class="chart chart-doughnut"
	chart-data="pieChartCtrl.total.data"
	chart-labels="pieChartCtrl.total.labels"
	cart-options="pieChartCtrl.total.options">
  </canvas>
</div>
