<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default shadow-z-4">
      <div class="panel-heading">
	<div class="panel-title">This Week</div>
      </div>
      <div class="panel-body">
	<weekly-graph></weekly-graph>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default shadow-z-4">
      <div class="panel-heading">
	<div class="panel-title">Yearly Savings</div>
      </div>
      <div class="panel-body">
	<yearly-savings-graph></yearly-savings-graph>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default shadow-z-4">
      <div class="panel-heading">
	<div class="panel-title">Rate Breakdown</div>
      </div>
      <div class="panel-body">
	<rate-pie-chart></rate-pie-chart>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default shadow-z-4">
      <div class="panel-heading">
	<div class="panel-title">Allowance Month Balances</div>
      </div>
      <div class="panel-body">
	<allowance-balances></allowance-balances>
      </div>
    </div>
  </div>
</div>
