{% extends "base.html" %}

{% block content %}
{% if period %}
<div class="container-fluid">
  <div class="page-header">
    <h1>{{ period }}</h1>
  </div>
  <div class="well">
    <a class="btn btn-primary" href="/transactions/add/">Add Transaction</a>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    {% for set in sets %}
    <div class="col-md-6">
      <div class="page-header">
        <h1 class="lead">{{ set.user }}</h1>
      </div>
      <table class="table">
        <tr>
          <td>Date</td>
          <td>Amount</td>
          <td>Reason</td>
          <td>Description</td>
        </tr>
        {% for item in set.transactions %}
        <tr>
          <td>{{ item.timestamp }}</td>
          <td>{% if item.negative %}-{% endif %} ${{ item.amount }}</td>
          <td>{{ item.get_reason_display }}</td>
          <td>{{ item.description }}</td>
        </tr>
        {% endfor %}
        <tr>
          <th>Total: {{ set.balance }}</th>
        </tr>
      </table>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
<div class="well">
  <h1>No open allowance period found</h1>
  <p>Try again later</p>
</div>
{% endif %}
{% endblock %}
