{% extends "base.html" %}

{% block content %}
{% if period %}
<div class="container-fluid">
  <div class="page-header">
    <h1 class="lead">{{ period.pretty_name }}</h1>
    {% if not period.closed %}
    <a class="btn btn-primary" href="/transactions/add/">Add Transaction</a>
    {% endif %}
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    {% for set in sets %}
    <div class="col-md-6">
      <div class="media">
        <div class="media-left">
          {% if set.user.userprofile.buddy_icon %}
          <img class="media-object" alt="{{ set.user }}-icon" height="50px" src="{{ set.user.userprofile.buddy_icon_url }}"/>
          {% endif %}
        </div>
        <div class="media-body">
          {% if set.user.get_full_name %}
          <h4 class="media-heading">{{ set.user.get_full_name }}</h4>
          {% else %}
          <h4 class="media-heading">{{ set.user.get_username }}</h4>
          {% endif %}
        </div>
      </div>
      <table class="table">
        <tr>
          <td>Date</td>
          <td>Amount</td>
          <td>Reason</td>
          <td>Description</td>
        </tr>
        {% for item in set.transactions %}
        <tr>
          <td>{{ item.timestamp }}</td>
          <td>{% if item.negative %}-{% endif %} ${{ item.amount }}</td>
          <td>{{ item.get_reason_display }}</td>
          <td>{{ item.description }}</td>
        </tr>
        {% endfor %}
        <tr>
          <th>Total: {{ set.balance }}</th>
        </tr>
      </table>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
<div class="well">
  <h1>Nothing Here</h1>
  <p>There are no open periods right now.</p>
  <p>Try again later?</p>
</div>
{% endif %}
{% endblock %}
