<!doctype html>
{% load compress %}
{% block html %}
<html lang="en">
{% endblock %}
  <head>
    <meta charset="UTF-8"/>
    <title>Moolah</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compress css %}
    {% include "css.html" %}
    {% endcompress %}
  </head>
  <body>
    <div class="container-fluid">
      {% block content %}
      {% endblock %}
    </div>
    {% compress js %}
    {% include "scripts.html" %}
    {% block scripts %}
    {% endblock %}
    {% endcompress %}
    {% compress js inline %}
    <script>
     $(document).ready(function() {
         $(".navbar-nav li a").click(function(event) {
             $(".navbar-collapse").collapse('hide'); // fixes navbar mobile
         });
         $.material.init(); // initialize theme
     });
    </script>
    {% endcompress %}
  </body>
</html>
