<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Moolah</title>
    <link href="{{ CSS_THEME_URL }}" rel="stylesheet"/>
    <!-- TODO: static files -->
    <style>body { padding-top: 70px; }</style>
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="container-fluid">
      {% block content %}
      {% endblock %}
    </div>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
