{% load staticfiles %}
<link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"/>
<link href="{% static 'bower_components/bootstrap-material-design/dist/css/roboto.min.css' %}" rel="stylesheet">
<link href="{% static 'bower_components/bootstrap-material-design/dist/css/material.min.css' %}" rel="stylesheet">
<link href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}" rel="stylesheet">
<link href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"/>
<link href="{% static 'bower_components/angular-busy/dist/angular-busy.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/site.css' %}" rel="stylesheet">
