<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">moolah</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.get_full_name }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="{% url 'django.contrib.auth.views.logout' %}?next=/">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>
