{% load staticfiles %}
<script src="{% static 'js/polyfills.js' %}"></script>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap-material-design/dist/js/ripples.min.js' %}"></script>
<script src="{% static 'bootstrap-material-design/dist/js/material.min.js' %}"></script>
<script src="{% static 'angular/angular.js' %}"></script>
<script src="{% static 'angular-route/angular-route.min.js' %}"></script>
