{% extends "spending/budget_detail.html" %}
{% block tables %}
{% for set in sets %}
<div class="col-md-6">
  <div class="media">
    <div class="media-left">
      {% if set.user.account.avatar %}
      <img class="media-object" alt="{{ set.user }}-icon" height="50px" src="{{ set.user.account.avatar.url }}"/>
      {% endif %}
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ set.user.account.name }}</h4>
    </div>
  </div>
  {% include "spending/transaction_table.html" with transactions=set.transactions balance=set.balance %}
</div>
{% endfor %}
{% endblock %}
